html {
    background-color: black;
}




.container1 {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    background-color: blue;
    height: 100vh;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(255, 255, 255, 0.9);

    

}

.popup1 {
    width: 300px;
    background: white;
    border-radius: 6px;
    text-align: center;
    padding: 0 30px 30px;
    color: red;
    margin: auto;
    opacity: 100%;
    
}

.inv {
    visibility: hidden;
}

.popup1 img {
    width: 100px;
    margin-top: 10px;
    border-radius: 50%;

}

.popup1 h2 {
    background-color: white;
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 0px;
    color: black;
}


.popup1 button {
    width: 30%;
    margin-top: 30px;
    padding: 10px 0;
    background: red;
    color: white;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);

}

.btn1 {
    visibility: hidden;
}


#header {
    background-image: url(./img/Surfboard.png);
    font-family: "Original Surfer", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}

.icon {
    color: black;
    font-size: 1rem;
}

#title {
    color: #005874;
}

.section2 {
    background-color: #005874;
}

.section2 button{
   color: #FFBE00;
   text-decoration:none;
}

.section2 a{
    color: #1C819E;
    text-decoration:none;
 }


#address {
    font-size: 1rem;
    color: #FFBE00;
}

.sec2Text {
    color: #FFBE00;
}

.sec2Text2 {
    color: #E6E6D4;
}



.carouselStyle {
    width: 80rem;
    margin: auto;
    
    
}

.carouselStyle img {
    height: 400px;

    
}

h2 {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: #E6E6D4;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#section4 {
    background-color: #005874;
}

#section4  a{
    color: #FFBE00;
}

#section4  p{
    color: #FFBE00;
}

.top_img_class {
    background-color: #005874;
    padding-top: 40px;
    padding-bottom: 40px;
}

#caro1 {
    width: 1100px;
    padding-left: 200px;
}
#caro2 {
    width: 800px;
    padding-left: 470px;
}

#caro3 {
    width: 800px;
    padding-left: 480px;
}

#caro4 {
    width: 250px;
    margin-left: 500px;
}

.section3 {
    background-color: #005874;
    padding-bottom: 80px;
}

@media (max-width: 650px) {
    .top_img_class {
        width: 550px;
        padding-top: 10px;
        padding-bottom: 10px;
        height:280px;

        

    }
    .top_img_class .start_img_1 {
        width: 90px;
        margin-bottom: 10px;
        padding: 0px;

    }
    .top_img_class .start_img_2 {
        width: 160px;
        margin-bottom: 5px;
        padding: 0px;

    }
    .top_img_class .start_img_4 {
        visibility: hidden;

    }
    .carouselStyle {
        width: 300px;
        
    }

    .section3 {
        padding-bottom: 46px;
    }
    .carouselStyle {
        margin-bottom: 50px;
    }

    #caro1 {
        width: 300px;
        padding-left: 0px;
        
    }
    #caro2 {
        width: 300px;
        padding-left: 0px;
        
    }
    #caro3 {
        width: 300px;
        padding-left: 0px;
        
    }
    #caro4 {
        width: 300px;
        padding-left: 0%;
        margin-left: 0px;
    }
}

